* {
  margin: 0;
  padding: 0;
}
body,
html {
  background-image: url("./images/bg-image.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.be-vietnam-pro-semibold {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.be-vietnam-pro-regular {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.logoImage {
  padding-top: 20px;
  padding-left: 60px;
}
.logoImage + div {
  display: flex;
  justify-content: center;
}
.questionTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  width: 60%;
  padding: 44px;
  text-align: center;
}
.questionTitle > p:nth-child(1) {
  font-size: 4rem;
  width: 80%;
  padding-bottom: 16px;
}
.questionTitle > p:nth-child(2) {
  font-size: 2rem;
  width: 90%;
}
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
form {
  background-color: #ffffff2a;
  border-radius: 25px;
  height: auto;
  width: 810px;
  padding: 32px;
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
  justify-content: center;
}
form > div {
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  width: 47%;
  gap: 6px;
}
label {
  color: #ffff;
  font-size: 0.875rem;
}
input,
select {
  border-radius: 15px;
  height: 60px;
  border: none;
  padding: 18px;
  color: #111729;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding-left: 10px;
  background-color: #ffff;
}
input::placeholder {
  color: #cdd5e0;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding-left: 10px;
}

select {
  background: url(./images/Expand_down.svg) no-repeat white;
  background-position: right 20px center; /* Change the px value here to change the distance */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding-left: 20px;
}
textarea {
  border-radius: 15px;
  height: 180px;
  border: none;
  padding: 10px;
  padding-top: 20px;
  color: #111729;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding-left: 10px;
  background-color: #ffff;
  resize: none 
}
form > button {
  background-color: #ffff;
  border: none;
  border-radius: 15px;
  width: 95%;
  height: 65px;
  color: #4036a9;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.25rem;
  cursor: pointer;
}

form > button:hover {
  background-color: #4036a9;
  color: #ffff;
}
@media (max-width: 1183px) and (min-width: 1024px){
  .questionTitle {
    width: 70%;
  }
  .questionTitle > p:nth-child(1){
    width: 90%;
  }
  .questionTitle > p:nth-child(2) {
    width: 90%;
  }
}
 

@media (max-width: 1025px) and (min-width: 864px) {
  .questionTitle {
    width: 82%;
  }
  /* .questionTitle > p:nth-child(1) {
    font-size: 3.8rem;
  }
  .questionTitle > p:nth-child(2) {
    font-size: 1.8rem;
  } */
  .questionTitle > p:nth-child(1){
    width: 90%;
  }
  .questionTitle > p:nth-child(2) {
    width: 90%;
  }
}

@media (max-width: 864px) and (min-width: 740px){
  .questionTitle {
    width: 95%;
  }
  /* .questionTitle > p:nth-child(1) {
    font-size: 3.4rem;
  }
  .questionTitle > p:nth-child(2) {
    font-size: 1.4rem;
  } */
  .questionTitle > p:nth-child(1){
    width: 90%;
  }
  .questionTitle > p:nth-child(2) {
    width: 98%;
  }
  form {
    width: 85%;
  }
  
}
@media (max-width: 740px) and (min-width: 640px){
  .questionTitle {
    width: 100%;
  }
  .questionTitle > p:nth-child(1){
    width: 95%;
    font-size: 3.8rem;
  }
  .questionTitle > p:nth-child(2) {
    width: 100%;
    font-size: 1.8rem;
  }
  form {
    width: 80%;
  }
  form > div {
    width: 98%;
  }
}
@media (max-width: 663px) and (min-width: 375px) {
  .questionTitle {
    width: 100%;
    padding: 30px;
  }
    .questionTitle > p:nth-child(1){
      width: 100%;
      font-size: 2.8rem ;
    }
    .questionTitle > p:nth-child(2) {
      width: 100%;
      font-size: 1.6rem;
    }
    form {
      width: 80%;
    }
    form > div {
      width: 98%;
    }
}
@media (max-width: 375px) and (min-width: 275px) {
  .questionTitle {
    width: 100vw;
  }
  .questionTitle > p:nth-child(1) {
    font-size: 2rem;
    width: 100%;
  }
  .questionTitle > p:nth-child(2) {
    font-size: 1.5rem;
    width: 100%;
  }
  form {
    width: 80%;
  }
  form > div {
    width: 100%;
  }
} 
